.fondo{
  background-color:var(--fondo);
  width:100vw;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
form{
  width:30vw;
  max-width:400px;
  height:30vw;
  max-height:350px;
  background-color:var(--white);
  padding:10px;
  border-radius:4px;
  border:0.2px solid var(--sombra);
  box-shadow:4px 4px 4px var(--sombra);
}
form h2{
  text-align:center;
  padding:10px 0px;
  color:var(--primary)
}
